<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
</head>
<body>
    <h1>Create a new TODO</h1> 
    <form action="/todo" method="POST">
        <label for="username">USERNAME: </label>
        <input type="text" name="todo[username]" id="username" placeholder="username"> <br>
        <label for="task">TASK: </label>
        <input type="text" name="todo[task]" id="task" placeholder="task/todo"> <br>
        <button>SUBMIT</button>
    </form>
</body>
</html>
